---
active_lang: fr
layout: default
ref: index
title: Binogure Studio - Studio indépendant, nous réalisons des jeux vidéo de qualité avec des outils libres pour plateforme PC ou Mobile
slides:
  - sentence:
      en: Buy properties, build hotels and build monopolies across continents
      fr: Achetez des propriétés, construisez des hôtels et faites des monopoles au travers des continents
    game: Fortune Avenue
    link: https://store.steampowered.com/app/1810050/Fortune_Avenue/
    captcha:
      en: Get it on Steam
      fr: Disponible sur Steam
    image: /images/slider/slide-4.png
  - sentence:
      en: Create and publish awesome games
      fr: Créez et publiez des jeux exceptionnels
    game: City Game Studio
    link: http://store.steampowered.com/app/726840/City_Game_Studio
    captcha:
      en: Get it on Steam
      fr: Disponible sur Steam
    image: /images/slider/slide-0.png
  - sentence:
      en: One of the most challenging and addictive game ever.
      fr: Un des jeux les plus compétitifs et addictifs.
    game: Sneak In
    link: store.steampowered.com/app/1061550/Sneak_In_Marble_shooter_game/
    captcha:
      en: Get it on Steam
      fr: Disponible sur le Steam
    image: /images/slider/slide-1.png
  - sentence:
      en: Ruin your opponents! 🎲 🏨
      fr: Ruinez vos adversaires! 🎲 🏨
    game: Fortune Avenue
    link: https://store.steampowered.com/app/1810050/Fortune_Avenue/
    captcha:
      en: Get it on Steam
      fr: Disponible sur Steam
    image: /images/slider/slide-5.png
  - sentence:
      en: Conquer the city and buy back your opponents
      fr: Contrôlez la ville et rachetez vos concurrents
    game: City Game Studio
    link: http://store.steampowered.com/app/726840/City_Game_Studio
    captcha:
      en: Get it on Steam
      fr: Disponible sur Steam
    image: /images/slider/slide-2.png
  - sentence:
      en: More than 200 amazing levels
      fr: Une quantité phénoménale de niveaux !
    game: Sneak In
    link: store.steampowered.com/app/1061550/Sneak_In_Marble_shooter_game/
    captcha:
      en: Get it on Steam
      fr: Disponible sur le Steam
    image: /images/slider/slide-3.png
---

{% for member in site.data.anchors %}
  {% if member.anchor %}
    {% include {{ member.anchor }}-{{ page.active_lang }}.html %}
  {% endif %}
{% endfor %}
