---
active_lang: fr
layout: default
title: Binogure Studio
slides:
  - sentence:
      en: Create and publish awesome games
      fr: Créez et publiez des jeux exceptionnels
    game: City Game Studio
    link: http://store.steampowered.com/app/726840/City_Game_Studio
    captcha:
      en: Soon on Steam
      fr: Bientôt sur Steam
    image: /images/slider/slide-0.png
  - sentence:
      en: One of the most challenging and addictive game ever.
      fr: Un des jeux les plus compétitifs et addictifs.
    game: Sneak In
    captcha:
      en: Get it on Google Play Store ...
      fr: Disponible sur le Google Play Store ...
    image: /images/slider/slide-1.png
  - sentence:
      en: Conquer the city and buy back your opponents
      fr: Contrôlez la ville et rachetez vos concurrents
    game: City Game Studio
    link: http://store.steampowered.com/app/726840/City_Game_Studio
    captcha:
      en: Soon on Steam
      fr: Bientôt sur Steam
    image: /images/slider/slide-2.png
  - sentence:
      en: More than 200 amazing levels
      fr: Une quantité phénoménale de niveaux !
    game: Sneak In
    captcha:
      en: Get it on Google Play Store ...
      fr: Disponible sur le Google Play Store ...
    image: /images/slider/slide-3.png
---

{% for member in site.data.anchors %}
  {% if member.anchor %}
    {% include {{ member.anchor }}-{{ page.active_lang }}.html %}
  {% endif %}
{% endfor %}
