<div class="content-col-wrapper">
  <div id="about" class="anchor-menu"></div>
  <center>
    <div class="article-header">
      <p>About us</p>
    </div>
  </center>
  <div class="content-col content-col-1">
      <p>
        Binogure Studio is an <span class="emphasis">independant</span> video game studio based at Montreal. Our goal is to create brilliant, high quality games.
      </p>
      
      <p>
        We love <span class="emphasis">free software</span>, as in free beer but also <span class="emphasis">as in freedom</span>.
        It means that to make our games we only use <span class="emphasis">FOSS software</span>: Blender for 3D modeling or video editing; Krita and Inkscape for art and game assets; and Godot Engine to create a game.
      </p>
      
      <p>
        <span class="emphasis">We sell games</span>, and we sell games only. You won't see any ad in our games. And because <span class="emphasis">we are all gamer</span>, we won't ever create any pay2win game.
        Our economic model is based on the <span class="emphasis">play2win</span> mechanism.
      </p>
      <p>
        Since you get our games to play and not to gamble, you won't have to pay for loot-boxes containing random rewards.
        It might exist in some game, but you will get them <span class="emphasis">for free</span>.
      </p>
  </div>

  <div class="content-col content-col-2"></div>
  <div class="content-col content-col-3">
    <center>
      <div class="logo-first">
        <a target="_blank" rel="noreferrer" href="https://www.blender.org/"><img src="/images/foss/blender-logo.png" class="height-128" alt="Blender" /></a>
        <a target="_blank" rel="noreferrer" href="https://godotengine.org/"><img src="/images/foss/godot-logo.png" class="height-128" alt="Godot Engine" /></a>
      </div>
      <div class="logo-second">
        <a target="_blank" rel="noreferrer" href="https://inkscape.org"><img src="/images/foss/inkscape-logo.png" class="height-128" alt="Inkscape" /></a>
        <a target="_blank" rel="noreferrer" href="https://krita.org"><img src="/images/foss/krita-logo.png" class="height-128" alt="Krita" /></a>
      </div>
    </center>
  </div>
</div>