<div class="content-col-wrapper">
    <div id="about" class="anchor-menu"></div>
  <center>
    <h1>About us</h1>
  </center>
  <div class="content-col content-col-1">
      <p>
        Binogure Studio is an <span class="emphasis">independant</span> video game studio based at Montreal. Our goal is to create brilliant, high quality games.
      </p>
      
      <p>
        We love <span class="emphasis">free software</span>, as in free beer but also <span class="emphasis">as in freedom</span>.
        So to make our games we only use <span class="emphasis">FOSS software</span>. For 3D modeling or video editing we use Blender. For art and game assets we use Krita and Inkscape.
        And to create a game we use Godot Engine. 
      </p>
      
      <p>
        <span class="emphasis">We sell games</span>, and we sell games only. You won't see any ad in our games. And because <span class="emphasis">we are all gamer</span>, we won't create any pay2win game ever.
        Our economic model is based on the <span class="emphasis">play2win</span> mechanism.
      </p>
      <p>
        Since you get our games to play and not to gamble, you won't have to pay for loot-boxes containing random rewards.
        It might exist, in some game, <span class="emphasis">loot-boxes</span> containing random rewards, but you will get them <span class="emphasis">for free</span>.
      </p>
  </div>

  <div class="content-col content-col-2"></div>
  <div class="content-col content-col-3">
    <center>
      <div class="logo-first">
        <a href="https://www.blender.org/"><img src="/images/foss/blender-logo.png" class="height-128" alt="Blender" /></a>
        <a href="https://godotengine.org/"><img src="/images/foss/godot-logo.png" class="height-128" alt="Godot Engine" /></a>
      </div>
      <div class="logo-second">
        <a href="https://inkscape.org"><img src="/images/foss/inkscape-logo.png" class="height-128" alt="Inkscape" /></a>
        <a href="https://krita.org"><img src="/images/foss/krita-logo.png" class="height-128" alt="Krita" /></a>
      </div>
    </center>
  </div>
</div>