<div class="content-col-wrapper">
  <div id="about" class="anchor-menu"></div>
  <center>
    <div class="article-header">
      <p>Qui sommes-nous ?</p>
    </div>
  </center>
  <div class="content-col content-col-1">
    <p>
      Binogure Studio est un studio de jeux vidéo <span class="emphasis">indépendant</span> basé a Montréal. Nous créons des jeux originaux de qualités.
    </p>
    
    <p>
      Nous sommes tombés <span class="emphasis">en amour avec le logiciel libre</span>. Alors pour faire nos jeux, nous n'utilisons que des <span class="emphasis">logiciels open source</span>.
      Pour créez nos modèles 3D et faire nos montages vidéos nous utilisons Blender. Inkscape et Krita nous servent a créer nos assets graphiques. Et Godot Engine nous permet de créer nos jeux.
    </p>
    
    <p>
      <span class="emphasis">Nous vendons des jeux vidéo</span>, et seulement des jeux. Nous ne sommes pas une plateforme plublicitaire, vous ne trouverez aucune publicité dans nos jeux autre que pour Binogure Studio. 
      <span class="emphasis">Nous sommes tous des joueurs de jeu vidéo</span>, c'est pourquoi notre modèle économique est basé sur le <span class="emphasis">Play2Win</span> et non pas sur le Pay2Win.
    </p>

    <p>
      Si vous jouez à nos jeux vidéo, ce n'est pas pour miser de l'argent, mais bien pour vous détendre et avoir du fun. Aucun de nos jeux ne contient des loot-box payantes.
      Il vous sera possible toutefois de rencontrer des <span class="emphasis">loot-box</span> qui, elles, seront <span class="emphasis">distribuées gratuitement</span>.
    </p>
  </div>

  <div class="content-col content-col-2"></div>
  <div class="content-col content-col-3">
    <center>
      <div class="logo-first">
        <a href="https://www.blender.org/"><img src="/images/foss/blender-logo.png" class="height-128" alt="Blender" /></a>
        <a href="https://godotengine.org/"><img src="/images/foss/godot-logo.png" class="height-128" alt="Godot Engine" /></a>
      </div>
      <div class="logo-second">
        <a href="https://inkscape.org"><img src="/images/foss/inkscape-logo.png" class="height-128" alt="Inkscape" /></a>
        <a href="https://krita.org"><img src="/images/foss/krita-logo.png" class="height-128" alt="Krita" /></a>
      </div>
    </center>
  </div>
</div>
