<div class="content-col-wrapper">
  <center>
    <div id="newsletter" class="anchor-menu"></div>
    <div class="newsletter">
      <div class="article-header">
          <p>L'infolettre</p>
      </div>
      <div class="newsletter-description">
        <p>If you're interested in testing it out, then sign up below to get exclusive access.</p>
      </div>
      <div class="newsletter-input">
        <input type="text" class="newsletter-button newsletter-email newsletter-input" id="newsletter-email" name="email" placeholder="NAME@EXAMPLE.COM" oninput="javascript: emailAddressHandler()" />
        <input type="button" class="newsletter-button newsletter-submit" id="newsletter-submit" value="VALIDER" onclick="javascript: subscrireToNewsletter()" disabled />
      </div>
      <div class='newsletter-description newsletter-confirm' id='subscribed'>
        <p>Check your email to confirm your subscription.</p>
      </div>
    </div>
  </center>
</div>
