<div class="content-col-wrapper">
  <center>
    <div id="newsletter" class="anchor-menu"></div>
    <div class="newsletter">
      <div class="article-header">
         <p>L'infolettre</p>
      </div>
      <div class="newsletter-description">
        <p>Si vous souhaitez pouvoir tester nos jeux en avant-première, inscrivez-vous à notre infolettre.</p>
      </div>
      <div class="newsletter-input">
        <input type="text" class="newsletter-button newsletter-email newsletter-input" id="newsletter-email" name="email" placeholder="NOM@EXEMPLE.COM" oninput="javascript: emailAddressHandler()" />
        <input type="button" class="newsletter-button newsletter-submit" id="newsletter-submit" value="VALIDER" onclick="javascript: subscrireToNewsletter()" disabled />
      </div>

      <div class='newsletter-description newsletter-confirm' id='subscribed'>
        <p>Vérifiez votre boîte courriel pour confirmer votre inscription à notre infolettre.</p>
      </div>
    </div>
  </center>
</div>
